:root {
  --primary-color: #242424;
  --secondary-color: #2D3E5B;
  --accent-color: #DB9291;
  --border-color: #EDEDED;
  --primary-font-family: "Lato", sans-serif;
  --secondary-font-family: "Spectral", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--primary-font-family);
  color: var(--primary-color);
  font-weight: 400;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #DB9291;
  transition: color .35s ease;
} 

h1, 
h3 {
  font-family: var(--secondary-font-family);
  color: var(--secondary-color);
  font-weight: 500;
  margin-top: 0;
}

h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

h2 {
  color: var(--accent-color);
  font-size: 24px;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 10%;
  font-weight: 900;
}

h3 {
  font-size: 22px;
  margin-bottom: 10px;
  font-style: italic;
}

small {
  font-size: 14px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

.header,
.footer {
  background-color: var(--accent-color);
}

.header,
.main {
  padding: 40px 0;
}

.footer {
  padding: 20px 0;
}

.nav__list {
  display: flex;
  justify-content: center;
  gap: 0 40px;
  font-size: 20px;
}

.nav__link {
  font-family: var(--secondary-font-family);
  font-weight: 900;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
}

.nav__link:hover {
  color: var(--primary-color);
  border-color: var(--primary-color);
  transition: border-color .35s ease;
}

.about-me {
  display: flex;
  align-items: center;
  gap: 0 40px;
  margin-bottom: 20px;
}

.about-me__photo {
  border-radius: 50%;
  object-fit: cover;
}

.about-me__position {
  font-size: 16px;
  color: var(--accent-color);
  text-transform: uppercase;
  letter-spacing: 10%;
  margin-top: 0;
  font-weight: 900;
}

.contacts {
  margin-bottom: 40px;
}

.contacts__list {
  display: flex;
  gap: 0 20px;
}

.contacts__link {
  display: flex;
  align-items: center;
  gap: 0 5px;
}

.contacts__link span {
  font-weight: 300;
}

.description {
  background-color: #F7F8F8;
  font-family: var(--secondary-font-family);
  font-size: 16px;
  font-weight: 300;
  padding: 10px 20px;
  border-radius: 10px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 10px 0;
}

.experience,
.code {
  margin-bottom: 40px;
}

.experience__item {
  padding-bottom: 20px;
  border-bottom: 2px solid var(--border-color);
}

.experience__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 20px;
  margin-bottom: 20px;
}

.experience__link,
.experience__period {
  display: flex;
  align-items: center;
  gap: 0 5px;
}

.experience__dates,
.experience__link span {
  font-weight: 300;
}

.experience__responsibilities {
  list-style: initial;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 15px;
} 

.columns {
  display: flex;
  justify-content: space-between;
  gap: 0 60px;
}

.skills,
.education {
  flex: 1;
}

.skills__item:not(:last-of-type),
.education__item:not(:last-of-type) {
  margin-bottom: 20px;
}

.education__item {
  border-bottom: 2px solid var(--border-color);
  padding-bottom: 10px;
}

.education__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 20px;
}

.education__dates,
.education__description {
  font-weight: 300;
}

.education__period {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 0 5px;
}

.footer .columns {
  align-items: center;
}

.github__link {
  font-size: 14px;
}

.github__link:hover {
  color: var(--primary-color);
}

.contacts__link:hover .contacts__icon,
.experience__link:hover .experience__icon {
  animation: moveIcon .5s infinite;
}

@keyframes moveIcon {
  from {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(0);
  }
}



